{% extends "adminbase.html" %}
{% block content %}

<style>
    th,td{
        padding: 10px;
        font-size: large;
        color: rgb(0, 0, 0);
    }
    th{
        background-color:rgb(251, 103, 35);
        color: white;
    }
    </style>
<div style="margin: 50px;">
    <center> <h1 style="margin: 10px;color:rgb(0, 0, 0)">METRO Booking</h1>
     <table  style="margin-top: 40px;">
     <tr>
        
         <th>DATE</th>
         <th>NAME</th>
      
        <th>SOURCE</th>
        <th>DESTINATION</th>
        <th>AMOUNT</th>
        <th>EXPIRY TIME</th>
        <th>Service Status </th>

        <th>TICKET</th>
        
         
       
         
      
       
      
         {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
     </tr>
 
{% for d in data %}
   <tr>
     
   
     <td>{{d.date}}</td>
     <td>{{d.user.name}}</td>
     <td>{{d.start}}</td>
     <td>{{d.stop}}</td>
     <td>{{d.amount}}</td>
     <td>{{d.time}}</td>
     <td>{{d.srStatus}}</td>
     {% if d.status == "Active" %}
    <td>ACTIVE</td>
    {% else %}
    <td>
        EXPIRED
    </td>
    {% endif %}
  
        
      
 </tr>
   {% endfor %}

     </table>
 </center>
 </div>

 <br>
<div style="margin: 50px;">
    <center> <h1 style="margin: 10px;color:rgb(0, 0, 0)">WATER METRO Booking</h1>
     <table  style="margin-top: 40px;">
     <tr>
        
         <th>DATE</th>
         <th>NAME</th>
      
        <th>SOURCE</th>
        <th>DESTINATION</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
        <th>EXPIRY TIME</th>
        <th>TICKET</th>
        
         
       
         
      
       
      
         {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
     </tr>
 
{% for d in dataw %}
   <tr>
     
   
     <td>{{d.date}}</td>
     <td>{{d.user.name}}</td>
     <td>{{d.start}}</td>
     <td>{{d.stop}}</td>
     <td>{{d.amount}}</td>
     <td>{{d.status}}</td>
     <td>{{d.time}}</td>
     {% if d.status == "Active" %}
    <td>ACTIVE</td>
    {% else %}
    <td>
        EXPIRED
    </td>
    {% endif %}
  
        
      
 </tr>
   {% endfor %}

     </table>
 </center>
 </div>
{% endblock %}