{% extends "userbase.html" %}
{% block content %}


<center><a href="/feederPay?id={{id}}" style="font-size: xx-large;font-family: fantasy;background-color: aqua;padding: 30px;border-radius: 1em;">PAY</a></center>
<div style="padding: 100px;">
  <a href="">  <div><img src="../static/assets/images/feeder1.png" title="SINGLE CAB" height="750" style="background-color: rgb(238, 248, 244);padding:50px;border-radius: 70%;" width="550" alt=""></div></a>
 <a href="">   <div><img src="../static/assets/images/feeder2.png" title="CAR POOL" style="background-color: rgb(220, 235, 235);padding:50px;border-radius: 7em;" height="750" width="550" alt=""></div></a>
</div>
{% endblock %}