{% extends "userbase.html" %}
{% block content %}



<div style="display:flex;margin-left: 50px;padding: 100px;">
  <a href="/metroBook">  <div><img src="../static/assets/images/Metro.png" height="350" style="background-color: aquamarine;padding:50px;border-radius: 2em;" width="350" alt=""></div></a>
 <a href="/waterBook">   <div><img src="../static/assets/images/Water.png" style="margin-left: 160px;background-color: aqua;padding:50px;border-radius: 2em;" height="350" width="350" alt=""></div></a>
</div>
{% endblock %}